.no-pdd-mrg-first-last-child {
	& > :first-of-type {
		padding-left: 0 !important;
		margin-left: 0 !important;
	}
	& > :last-of-type {
		padding-right: 0 !important;
		margin-right: 0 !important;
	}
}

.align-to-right{
	text-align: right;
}

.align-center {
	text-align: center;
	justify-content: center;
	align-items: center;
}

/* width */
::-webkit-scrollbar {
	width: 15px;
	max-height: 50px;
	margin: 20px;
}

/* Track */
::-webkit-scrollbar-track {
	background: $primary_background;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 30px;
	border: 3px solid $primary_background;
	background: $primary_dark;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.non-layout{
	z-index: 100;
	position: absolute;
	top: 1em;
	left: -9999px;
	padding: 0.5em 1em;
	background: black;
	color: #fff;
}


.header-logo.boxed-column-child{
	display: block!important;
	margin: 0 auto;
	width: 100%;
	text-align: center;

	.logo-link{
		margin: 0 auto;
		display: flex;
    justify-content: center;
		width: 100%;
		svg{
			padding: 25px 0;
		}
	}
}

.top-hibbon{
	height: 33px;
	p{
		line-height: 28px;
	}
	a{
		color: #fff;
		font-size: 12px;
	}
}

footer{
	position: relative;
	z-index: 1;
}


.cursor-dot {
    background-color: $cta__contrast_color;
}

.cursor-dot-outline {
    background-color: rgba($primary_light, 0.5);
}


.full-width-row.header-logo-wrapper{
	margin-bottom: 0;
	height: auto;
}


#___gatsby{
	z-index: 1;
	position: relative;
}


.wrapper-hr{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	// margin: 50px 0;
	span.ht-top{
		&:before{
			content: '';
			position: absolute;
			top: -5px;
			left: 0;
			width: 100%;
			height: 10px;
			border-right: 1px solid #999;
		}
		position: relative;
		display: block;
		width: 100%;
		height: 1px;
		border-top: 2px solid black;
		border-bottom: 1px dashed #999;
	}

	.inner-hr{
		max-width: 400px;
    width: 40%;
    min-width: 15%;
		&:nth-child(3){
			transform: scaleX(-1);
		}
		@media (max-width: 768px){
			width: 15%;
		}
	}
	.boilerplate-heading {
		text-align: center;
    max-width: 40%;
    width: auto;
		@media (max-width: 768px){
			font-size: 20px;
			max-width: 60%;
		}
	}
}



.social-icons{
	&.boxed-column-child{
		justify-items: center;
    max-width: 320px;
	svg{
		width: 40px;
		height: 40px;
		margin: 0 5px;
		padding: 15px;
		background-color: $primary_dark;
		border-radius: 50%;
		color: $primary_background;
	}
}
}


.m0auto{
	margin: 0 auto;
}

.logo-bottom-wrapper{
	margin-bottom: 50px;
}
.logo-bottom{
	margin-top: 25px;
	margin-bottom: 5px;
	width: 100%;
	max-width: 300px;
}
.bottom-paragraph{
	font-size: 11px;
	color: #444;
	text-align: center;
}

// {
// 	filter: contrast(400%);

// }
.roundME{
	border-radius: 50%;
}
.bottom-social{
	width: 44px;
	height: 44px;
}

.colorME.gatsby-image-wrapper:before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $cta__color;
	mix-blend-mode: hue;
	z-index: 5;
// 	filter: contrast(400%);
	&:hover{
		background-color: transparent;
		mix-blend-mode: normal;
	}
}
.gatsby-image-wrapper{
	&:hover{
		&:before{
			background-color: transparent;
		}
	}
}
.banner{

	height: 85px;
}
.colorME.banner.boxed-column-child{
	position: relative; 
	// height: 85px;
	width: 100%;
	a{
	align-self: center;
	justify-self: center;
}
img{
	max-width: 720px;
	object-fit: contain!important;
	margin: 0 auto;
}
}
.colorME.boxed-column-child:before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $cta__color;
	mix-blend-mode: hue;
	z-index: 5;
// 	filter: contrast(400%);
}
.colorME.boxed-column-child{
	&:hover{
		:before{
			background-color: transparent;
			mix-blend-mode: hue;
		}
	}
}

.full-width-row.mobile-header{
	background-color: transparent!important;
	.logo-link svg{
		width: 100%;
	}
}



.m30auto{
	margin: 30px auto;

}

	.main-ul{
		height: 29px;
		font-size: 14px;
		display: flex;
		max-width: $widescreen__size;
		width: 100%;
		margin: 0 auto;
		li{ padding: 0 25px; a{
			color:white; font-family: $third__font; line-height: 33px;
			&:hover{
				color: $primary_light;
			}
		}}
	}



	.page-container{
		p{
			margin: 10px auto;
			font-family: $third__font;
			font-weight: 300;
			font-size: 20px;
			width: 100%;
			text-align: justify;
  		text-align-last: left;
		}
		h1, h2, h3, h4, h5, h6{
			margin: 15px 0;
		}
		em{
			font-style: italic;
		}
	}

	.main-page-wrapper{
		.page-container{
			max-width: $page__size;
			margin: 10px auto;
		}
	}


	sup{
		a{
			font-weight: 900;
			vertical-align: super;
			color: $cta__color;
			font-size: 14px;
			margin-left: -10px;
			padding: 5px;
		}
	}




	.diamond-profile{
		position: relative;
		width: 190px;
		height: 190px;
		margin-top: -50px;
		
		.gatsby-image-wrapper{
			position: absolute;
			left: 0;

		img{
			mask-size: 100%;
		
		object-fit: cover;
		}
			&.diamond-img{
				margin-left: 15px;
				margin-top: 15px;
				z-index: 1;
				width: 160px;
			}
			&.diamond-background{
			img{
				z-index: 0;
				// width: 200px;
			}}
		}
	}
	.home-profile-width{
		max-width: 560px;
		margin: 0 auto;

	}
	.home-profile{
		background-color: $primary;
		border-radius: 15px 15px 0 0;
		height: 180px;
		.home-profile-left-column{
			left: 30px;
			margin-top: 20px;
			p{
				margin-left: 11px;
				color: white;
				font-weight: 400;
				font-size: 14px;
				font-family: $fourth__font;
				sup{
					font-size: 11px;
					vertical-align: super;
				}
				strong{
					font-weight: 600;
				}
			}
		}
		.boxed-column-child{
			display: flex!important;
			justify-content: right;
		}
		.home-profile-right-column{
			margin-right: 20px;
		}
		.home-profile-infos{
			text-align: center;
			align-self: center;
			// right: 20px;
			position: relative;
			a.profile-btn{
			background-color: white;
			margin: 0 10px;
			padding: 5px 10px;
			font-family: $fourth__font;
			color: $primary;
			font-weight: 600;
			font-size: 12px;
			border-radius: 3px;
			box-shadow: 0 2px 0 0px $primary_dark;
			
			&:nth-child(odd){
				background-color: hotpink;
				color: white;
			}
			&:hover{
				background-color: orange;
				color: white;
			}
		}}
	}
	.hide-me{
		display: none;
	}
.home-profile-left-column{
	position: relative;
	width: 100%;
	.profile-anchor-menu{
		display: flex;
		position: absolute;
		bottom: 0;
		left: 0px;
		li{
			margin: 0 5px;
			a{
				color: white;
				font-family: $third__font;
				font-size: 16px;
				padding: 8px 10px 6px;
				border-radius: 4px 4px 0 0;
				text-shadow: 0 2px 1px $primary_dark;
				&:hover, &.active{
					background-color: white;
					color: hotpink;
					text-shadow: 0 0 0 transparent;
				}
			}
			&:last-of-type{
				a{
					border-right: 0!important;
				}
			}
		}
	}}

	.home-profile-tab{
		padding: 20px 40px;
		h2{
			font-size: 24px;
			font-family: $second__font;
			color: $primary;
			margin: 10px 0 20px;
			text-align: center;
		}
		p{
			color: #3d3d3d;
			margin-bottom: 20px;
			text-align: justify;
  		text-align-last: left;
		}
	}
	.home-profile-bottom{
		border-radius: 0 0 5px 5px;
	}
	
	.profile-socials{
	width: 28px;
	margin: 10px 10px 0;
	}


	.main-article{
		h4{
			a{
				color: $primary;
				font-size: 20px;
				font-family: $third__font;
				font-weight: 600;
				margin-right: 15px;
				&:hover{
					color: $primary_dark;
				}
			}
		}
		h1{
			line-height: 50px;
			font-size: 38px;
			margin: 5px 0 15px;
			a{
				color: black;
				&:hover{
					color: $primary_dark;
				}
			}
		}
		a.main-article-caption{
			color: #666666;
			font-size: 20px;
			font-family: $third__font;
			font-weight: 400;
			&:hover{
				color: $primary_dark;
			}
		}
		p{
			color: $cta__contrast_color;
			margin-left: 20px;
			margin-top: 10px;
			font-size: 14px;
			line-height: 28px;
			font-family: $third__font;
			text-transform: uppercase;
			&:before{
				content: '';
				margin-left: -20px;
				display: block;
				width: 10px;
				height: 10px;
				background-color: $cta__contrast_color;
				border-radius: 50%;
				float: left;
				top: 7px;
    		position: relative;
			}
		}
		.main-article-relatives{
			padding: 20px;
			h2{
				margin-top: 20px;
				font-size: 28px;
				line-height: 28px;
				font-family: $third__font;
				a{
					&:hover{
						color: $primary_dark;
					}
				}
			}
			ul {
				margin-left: 30px;
				margin-top: 20px;
				li {
					margin: 5px 0;
				list-style: none;
				&:before {
					content: "\2022";
					color: $primary_dark;
					font-weight: bold;
					display: inline-block; 
					width: 1em;
					margin-left: -1em;
				}
				&:hover{
					&:before{
						color: $primary;
					}
				}
				a{
				color: $primary_dark;
				font-size: 17px;
				font-family: $third__font;
				font-weight: 400;
				&:hover{
					color: $primary;
				}
			}}}
		}
	}